@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --cinza: #d9d9d9;
}

body {
   min-height: 100vh; /* Use min-height to prevent layout collapse */
   font-family: "Poppins", sans-serif;
   font-size: 20px;
}

main {
   width: 330px;
   margin: auto;
   overflow: hidden;
}

.title {
   text-align: center;
   font-family: "Courier New", Courier, monospace;
   margin-block: 2rem 1rem;
}

input,
select {
   border: 2px solid var(--cinza);
   border-radius: 5px;
}

#input-value::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

#input-value,
#input-description,
#item-type-input,
#add-item-btn {
   font-family: "Poppins";
   font-size: 20px;
   padding-inline: 5px;
}

.input-section {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 1fr);
   gap: 5px;
}

.input-value {
   grid-area: 1 / 1 / 2 / 2;
   position: relative;
}

#item-input-type {
   grid-area: 1 / 1 / 2 / 2;
}

#input-description {
   grid-area: 2 / 1 / 3 / 3;
}

#input-value {
   width: 100%;
   padding-left: 30px;
}
.currency-symbol {
   position: absolute;
   left: 5px;
   top: 50%;
   transform: translateY(-50%);
   pointer-events: none;
}

#add-item-btn {
   grid-area: 3 / 1 / 4 / 3;
   border: none; /* Remove border */
   border-radius: 5px;
   background-color: var(--cinza);
   cursor: pointer;
}

.item {
   position: relative;
   display: flex;
   align-items: center;
   height: 35px;
   justify-content: space-between;
}

.item-content {
   width: 300px;
   display: flex;
}

.checkbox {
   transform: scale(1.5);
   margin-right: 1rem;
   margin-left: 5px;
}

.item-value,
.item-description {
   width: 60%;
   margin-left: 0.5rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.menu-btn {
   height: 30px;
   width: 30px;
   cursor: pointer;
}

.remove {
   display: none;
}

.show {
   right: 40px;
   position: absolute;
   display: block;
}
.item-menu {
   display: flex;
   gap: 5px;
}

.done-item {
   color: lightgray;
}

.total {
   display: flex;
   justify-content: space-between;
}
